
<div class="drawer">
  <ul class="drawer-links">
    <li><a href="/">home</a></li>
    <li> <a href="/posts.html">posts</a></li>
    <li> <a href="/about.html">about</a></li>
    <li> <a href="/contact.html">contact</a></li>
  </ul>
  <div class="contact-icons">
    <ol class="icons">
      <li class="fb"><a href="/">fb</a></li>
      <li class="tw"><a href="/">tw</a></li>
      <li class="gplus"><a href="/">g+</a></li>
      <li class="gh"><a href="https://github.com/dawJar/sundew-jquery">gh</a></li>
    </ol>
  </div>
</div>