@import "variables.scss";


// loading page
@mixin loading-logo-anim($circleKeyframes) {
  animation-name: $circleKeyframes;
  animation-timing-function: ease-in-out;
  animation-duration: 2500ms;
}

@keyframes loading-logo-one {
  $start: nth($loadingCircleOne, 1);
  $stop: nth($loadingCircleOne, 2);
  0% {
    transform: rotateZ($start);
  }
  100% {
    transform: rotateZ($stop);
  }
}
@keyframes loading-logo-two {
  $start: nth($loadingCircleTwo, 1);
  $stop: nth($loadingCircleTwo, 2);
  0% {
    transform: rotateZ($start);
  }
  100% {
    transform: rotateZ(-$stop);
  }
}
@keyframes loading-logo-three {
  $start: nth($loadingCircleThree, 1);
  $stop: nth($loadingCircleThree, 2);
  0% {
    transform: rotateZ($start);
  }
  100% {
    transform: rotateZ($stop);
  }
}

// nav toggle btn
@mixin slide-arrow-in-animation {
  animation-name: slide-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(30px);
  }
  65% {
    transform: translateX(220px);
  }
  80% {
    transform: translateX(190px);
  }
  100% {
    transform: translateX(200px);
  }
}
