@import "variables.scss";
@import "mixins.scss";


div.container-contact {
    margin-bottom: 90px;

    input#name, input#email, input#msg {
        width: 96%;
        min-height: 50px;
        font-size: $pFontSize;
        margin-bottom: 12px;
        color: $mainSupplementaryColor2;
        background-color: lighten($mainColor, 10);
        border: 2px solid $mainColor;
        text-align: left;
        padding: 0 8px;
        &:focus {
            border: 2px solid darken($mainColor, 10);
            background-color: darken($mainColor, 3);
        }
    }

    input#msg {
        min-height: 120px;
        padding-bottom: 80px;
    }

    .form-align {
        display: block;
        width: 96%;
        text-align: left;
        margin-bottom: 6px;
    }

    label {
        font-size: $pFontSize;
        font-weight: bolder;
        color: $mainSupplementaryColor;
    }

    input#submit, input#clear {
        cursor: pointer;
        min-height: 50px;
        width: 50%;
        background-color: lighten($mainSupplementaryColor, 4);
        border: none;
        font-size: $pFontSize;
        color: $mainSupplementaryColor2;
        border: 2px solid darken($mainSupplementaryColor, 2);

        @include mQ($xSmallDevice) { width: 180px; };
        @include mQ($mediumDevice) { width: 240px; };
        @include mQ($largeDevice) { width: 290px; };

        &:hover, &:focus {
            background-color: darken($mainSupplementaryColor, 4);
            border: 2px solid darken($mainSupplementaryColor, 10);
            color: lighten($mainSupplementaryColor2, 10);
        }
    }

    input#clear {
        width: 30%;
        @include mQ($xSmallDevice) { width: 100px; };
        @include mQ($mediumDevice) { width: 150px; };
        @include mQ($largeDevice) { width: 200px; };
    }
}

h3.contact-form-title {
    color: $mainSupplementaryColor;
    text-decoration: overline;
    font-size: $h3FontSize;
    margin: 16px 0;
}

div.additional-margin-over-container {
    margin-top: 44px;
}

div.contact-field {
    height: 60px;
    font-size: $pFontSize;
    font-weight: bolder;
    color: darken($mainColor, 7);

    span {
        font-size: 24px;
        @include mQ($mediumDevice) {
            padding-left: 16px;
        };
        &:hover { cursor: pointer; }
    }
}

// flexbox
.flex-column {
    @include flexBasicStyle;
    flex-direction: column;
}

.flex-row {
    @include flexBasicStyle;
    flex-direction: column !important;
    @include mQ($mediumDevice) { flex-direction: row !important; };
}

.flex-row-item {
    @include flexBasicStyle;
    flex-direction: column;
    @include mQ($mediumDevice) { flex: 0 0 48% !important; };
}

.flex-row-item-1-3 {
    @include flexBasicStyle;
    flex-direction: column;
    @include mQ($mediumDevice) { flex: 0 0 33% !important; };
}

.flex-column-item {
    @include flexBasicStyle;
    flex-direction: column;
    flex: 0 0 100%;
}
