@import "variables.scss";
@import "mixins.scss";
@import "animation.scss";


div#container-responsive {
  display: flex;
  width: 100%;
  padding-top: 22px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: $bgColor;
  border: 5px solid $bgColor;

  @include mQ($xSmallDevice) {
    padding-top: 0;
    border: 0;
    width: 73%;
  };
  @include mQ($smallDevice) {
    width: 81%;
  };
  @include mQ($mediumDevice) {
    width: 85%;
    max-width: 1000px;
  };

  #container-content {
    @include mQ($xSmallDevice) {
      margin-top: 34px;
      border: 5px solid $bgColor;
    };
    width: 100%;
    border: 0;
  }

  h2 {
    color: $bgColor !important;
    font-size: 44px;
    text-decoration: underline;
    margin: 24px 0;
  }

  div.container-article {
    display: flex;
    flex-direction: column;
    // flex:
    width: 100%;
  }

  div.single-article {
    cursor: pointer;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 12px 24px 12px;
    padding: 12px 8px;
    color: $bgColor;
    // background-color: lighten($bgColor, 7);
    border: 3px solid $bgColor;

    &:hover {
      background-color: lighten($bgColor, 3);
      border: 2px solid $mainFontColor;
      color: darken($mainFontColor, 7);
      transition: background-color 400ms ease-in-out;
      transition: color 200ms ease-in-out;
    }

    h3 {
      // padding-left: 12px;
      font-size: 32px;
      text-align: left;
      margin: 12px 0;
    }

    p {
      font-size: 18px;
      text-align: justify;
      margin-bottom: 12px;
    }

    p.read-more {
      font-size: 22px;
      text-align: center;
      margin-bottom: 8px;

    }

  }

}
