@import "variables.scss";
@import "animation.scss";
@import "mixins.scss";


div#container-main {
    @include flexBasicStyle;
    height: 100%;
    color: $mainSupplementaryColor2;
    background-color: $mainColor;
    justify-content: center;
    flex-direction: column;

    h1 { font-size: 56px; }
}
