@import "variables.scss";
@import "mixins.scss";
@import "animation.scss";


div.drawer {
  @include slide-drawer-in-animation($animDrawerName);
  position: fixed;
  display: none;
  height: 100%;
  width: 270px;
  background-color: $mainSupplementaryBgColor;
}

div.show-drawer {
  display: block;
  border-right: 2px solid darken($mainSupplementaryBgColor, 10);
}

i.fa {
  position: fixed;
  cursor: pointer;
  top: 30px;
  left: 30px;
  z-index: 1;
}

i.fa-arrow-left {
  @include slide-drawer-in-animation($animToggleName);
}

ul.drawer-links {
  z-index: 1;
  height: 100%;
  display: none;
  margin-top: 92px;
  list-style-type: none;

  li {
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 28px;

    &:hover {
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
  }
}
