@import "variables.scss";
@import "animation.scss";


*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0 auto;
  padding: 0;
  color: $mainFontColor;
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  background-color: $bgColor;
}
