@import "variables.scss";
@import "animation.scss";


@mixin contactIconStyle($hoverColor) {
    &:hover { background-color: $hoverColor; }
}

@mixin aStyle {
    text-decoration: none;
    color: $mainSupplementaryColor2;
}

@mixin flexBasicStyle {
    width: 100%;
    display: flex;
    align-items: center;
}

// media queries
@mixin mQ($args...) {
    @if length($args) == 1 {
        @media screen and (min-width: nth($args, 1)) {
             @content;
        }
    }
    @else if length($args) {
         @media screen and (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
             @content;
        }
    }
}
