$primaryColor: #222;
$bgColor: #899c2c;
$mainFontColor: #eee;

$navBgColor: khaki;
$navMainMenuBgColor: tomato;
$navMainMenuBgColorHover: skyblue;
$navDropdownMenuBgColor: #5831b2;
$navDropdownMenuBgColorHover: gold;
$navFontSize: 18px;

// lading animation
$loadingCircleOne: (0, 360deg);
$loadingCircleTwo: (180deg, 580deg);
$loadingCircleThree: (90deg, 930deg);
