$primaryColor: #222;
$mainColor: #71BC78;
$mainSupplementaryColor: #cb4b41;
$mainSupplementaryColor2: #FFFFF0;

$fbColor: #3B5998;
$twColor: #00aced;
$gplusColor: darken(#d34836, 10);
$ghColor: #333;

$h1FontSize: 56px;
$h2FontSize: 56px;
$h3FontSize: 32px;
$pFontSize: 18px;

// lading animation
$loadingCircleOne: (0, 360deg);
$loadingCircleTwo: (180deg, 580deg);
$loadingCircleThree: (90deg, 930deg);

// slide drawer animation
$animDrawerName: 'slide-in';
$animToggleName: 'slide-in-toggle';

// mq breakpoints
$xSmallDevice: 480px;
$smallDevice: 768px;
$mediumDevice: 992px;
$largeDevice: 1200px;
