doctype html
html(lang="pl")

    include partials/head.pug

    body

        include partials/loading-page.pug

        #container
            p about
            a(href="/") link

        script(type='text/javascript', src='js/main.min.js').
