doctype html
html(lang="pl")
    
    include partials/head.pug

    body
        i#toggle.fa.fa-bars.fa-2x.normal-toggle(aria-hidden="true")

        include partials/loading-page.pug

        include partials/drawer.pug

        include partials/page-content.pug
                h2 about

        script(type='text/javascript', src='js/main.min.js').
