doctype html
html(lang="pl")

    include partials/head.pug

    body

        include partials/loading-page.pug

        include partials/drawer.pug

        #container-main
            h1 articles

        script(type='text/javascript', src='js/main.min.js')
