doctype html
html(lang="pl")
    
    i#toggle.fa.fa-bars.fa-2x.normal-toggle(aria-hidden="true")
        
    include partials/head.pug

    body

        include partials/loading-page.pug

        include partials/drawer.pug

        #container-responsive
            #container-content
                h2 articles
                .container-article
                    .single-article 
                        h3 article1
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                    .single-article 
                        h3 article2
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                    .single-article 
                        h3 article3
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                    .single-article 
                        h3 article4
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                    .single-article 
                        h3 article5
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                
                .container-article-hot
                    .single-article 
                        h3 hot-article5
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                    .single-article 
                        h3 hot-article5
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                    .single-article 
                        h3 hot-article5
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        p.read-more read more...
                

        script(type='text/javascript', src='js/main.min.js')
