doctype html
html(lang="pl")

      
    include partials/head.pug

    body
        i#toggle.fa.fa-bars.fa-2x.normal-toggle(aria-hidden="true")

        include partials/loading-page.pug

        include partials/drawer.pug

        include partials/page-content.pug
            h2 contact
            .flex-row.container-contact-field
                .flex-row-item-1-3.contact-field
                    span
                        | email: paulocoelho@easy.com
                .flex-row-item-1-3.contact-field
                    span
                        | phone: (3-345) 777-777
                .flex-row-item-1-3.contact-field
                    span
                        | author: Y-go studio 
                    
            h3.contact-form-title send us message
            .container-contact
                form#contact-form.flex-column
                    .flex-row.flex-column-item
                        .flex-row-item
                            .form-align
                                label(for="name") 
                                    | name
                            input(id="name", type="text")
                        .flex-row-item
                            .form-align
                                label(for="email") 
                                    | e-mail
                            input(id="email", type="text")
                    .flex-column-item
                        .form-align
                            label(for="msg") 
                                | message
                        input(id="msg", type="text")
                    .flex-column-item
                        .form-align
                            input(id="submit", type="submit", value="send message")
                            input(id="clear", type="submit", value="clear")
        
        i.fa.fa-chevron-up.fa-2x.hidden-element(aria-hidden="true") 

        script(type='text/javascript', src='js/main.min.js')
