doctype html
html(lang="pl")

    include partials/head.pug

    body

        include partials/loading-page.pug

        #nav-toggle
        i#toggle.fa.fa-bars.fa-2x(aria-hidden="true")

        #container-main
            h1 sundew
            a(href="about.html") link

        script(type='text/javascript', src='js/main.min.js')
