doctype html
html(lang="pl")
        
    include partials/head.pug

    body
        i#toggle.fa.fa-bars.fa-2x(aria-hidden="true")
          
        include partials/loading-page.pug

        include partials/drawer.pug

        #fake-loading
            #container-main
                h1 
                    | sundew

        script(type='text/javascript', src='js/main.min.js')
