doctype html
html(lang="pl")
    
    i#toggle.fa.fa-bars.fa-2x.normal-toggle(aria-hidden="true")
        
    include partials/head.pug

    body

        include partials/loading-page.pug

        include partials/drawer.pug

        include partials/page-content.pug
            h2 articles
            .container-posts
                .single-post 
                    h3 article1
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post 
                    h3 article2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post 
                    h3 article3
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 article4
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 article5
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 article6
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 article7
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 article8
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 article9
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                

        script(type='text/javascript', src='js/main.min.js')
