doctype html
html(lang="pl")
    
    i#toggle.fa.fa-bars.fa-2x.normal-toggle(aria-hidden="true")
        
    include partials/head.pug

    body

        include partials/loading-page.pug

        include partials/drawer.pug

        include partials/page-content.pug
            h2 posts
            .container-posts
                .single-post 
                    h3 post 1
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post 
                    h3 post 2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post 
                    h3 post 3
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 post 4
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 post 5
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 post 6
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 post 7
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 post 8
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                .single-post.hidden-post 
                    h3 post 9
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    p.read-more read more...
                

        script(type='text/javascript', src='js/main.min.js')
