i#toggle.fa.fa-bars.fa-2x(aria-hidden="true")
  
.drawer
    ul.drawer-links
        li 
            a(href="/") home
        li 
            a(href="/articles.html") articles
        li 
            a(href="/about.html") about
        li 
            a(href="/contact.html") contact
