.drawer
    ul.drawer-links
        li 
            a(href="/") home
        li 
            a(href="/articles.html") articles
        li 
            a(href="/about.html") about
        li 
            a(href="/contact.html") contact
    .contact-icons
        ol.icons
            li.fb
                a(href="/") fb
            li.tw
                a(href="/") tw
            li.gplus
                a(href="/") g+
            li.gh
                a(href="https://github.com/dawJar/sundew-jquery") gh
